@use "./variables";

.modal-container {
	width: 100%;
	min-height: 100vh;
	background-color: rgba(variables.$dark-light-color, 0.5);
	backdrop-filter: blur(4px);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 24px 32px;
	// z-index: 90;
	position: fixed;
	top: 0;
	left: 0;

	.modal {
		background-color: variables.$light-color;
		padding: 24px 32px 32px 32px;
		display: flex;
		flex-direction: column;
		gap: 16px;
		border-radius: 12px;
		width: 100%;
		-webkit-border-radius: 12px;
		-moz-border-radius: 12px;
		-ms-border-radius: 12px;
		-o-border-radius: 12px;
		@include variables.animation("fade 0.3s");

		@include variables.keyframes(fade) {
			0% {
				opacity: 0;
				transform: scale(0.1);
				-webkit-transform: scale(0.1);
				-moz-transform: scale(0.1);
				-ms-transform: scale(0.1);
				-o-transform: scale(0.1);
			}

			50% {
				opacity: 0.5;
				transform: scale(1.2);
				-webkit-transform: scale(1.2);
				-moz-transform: scale(1.2);
				-ms-transform: scale(1.2);
				-o-transform: scale(1.2);
			}

			100% {
				opacity: 1;
				transform: scale(1);
				-webkit-transform: scale(1);
				-moz-transform: scale(1);
				-ms-transform: scale(1);
				-o-transform: scale(1);
			}
		}

		@include variables.for-medium-screen {
			width: 60%;
		}

		&-header {
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: space-between;

			.heading {
				font-size: 24px;
				font-weight: bold;
				color: variables.$dark-light-color;
			}

			.icon {
				background-color: rgba(variables.$dark-light-color, 0.2);
				border-radius: 50px;
				cursor: pointer;
				display: flex;
				align-items: center;
				justify-content: center;
				padding: 16px;
				font-size: 24px;
				color: variables.$dark-light-color;
				-webkit-border-radius: 50px;
				-moz-border-radius: 50px;
				-ms-border-radius: 50px;
				-o-border-radius: 50px;
			}
		}

		&-main {
			display: flex;
			flex-direction: column;
			gap: 16px;
			width: 100%;

			.email {
				width: 100%;
				background-color: rgba(variables.$dark-color, 0.1);
				display: flex;
				border-radius: 4px;
				align-items: center;
				gap: 12px;
				padding: 14px 20px;
				color: variables.$dark-light-color;
				font-size: 20px;

				input[type="email"] {
					background: transparent;
					border: none;
					height: 100%;
					width: 100%;
					outline: none;
					color: variables.$dark-light-color;
				}
			}

			.btn {
				padding: 14px 24px;
				border: none;
				cursor: pointer;
				border-radius: 4px;
				background-color: variables.$dark-light-color;
				color: variables.$light-color;
				-webkit-border-radius: 4px;
				-moz-border-radius: 4px;
				-ms-border-radius: 4px;
				-o-border-radius: 4px;
			}
		}
	}
}
