@use "./variables";

.scorecard {
	width: 100%;
	background-color: variables.$light-color;
	padding: 28px 32px;
	display: flex;
	flex-direction: column;
	gap: 16px;

	@include variables.for-medium-screen {
		width: 80%;
	}
	@include variables.for-large-screen {
		width: 90%;
	}
	@include variables.for-extralarge-screen {
		width: 1114px;
	}

	&-headline {
		color: variables.$gray-dark;

		@include variables.for-large-screen {
			text-align: right;
		}
	}

	&-body {
		display: flex;
		align-items: center;
		justify-content: space-between;

		&-left {
			display: flex;
			flex-direction: column;
			gap: 8px;

			.team-logo {
				width: 30px;
				padding: 4px;
				border: 1px solid variables.$gray-dark;

				@include variables.for-medium-screen {
					width: 40px;
				}
				@include variables.for-large-screen {
					width: 50px;
				}
			}

			.team-name {
				font-size: 20px;
				display: flex;
				flex-direction: column;
				gap: 8px;
				font-weight: bold;
				color: variables.$dark-light-color;

				@include variables.for-medium-screen {
					flex-direction: row;
					align-items: center;
					font-size: 20px;
				}
				@include variables.for-large-screen {
					font-size: 24px;
				}

				img {
					width: 16px;

					@include variables.for-medium-screen {
						width: 20px;
					}
					@include variables.for-large-screen {
						width: 24px;
					}
				}
			}

			.team-score {
				font-size: 32px;
				font-weight: 600;
				color: variables.$dark-color;
			}
		}

		&-middle {
			display: none;

			@include variables.for-large-screen {
				text-align: right;
				display: flex;
				flex-direction: column;
				align-items: center;
			}

			.label {
				color: variables.$gray-dark;
			}

			.table {
				font-size: 12px;
				color: variables.$gray-dark;

				th,
				td {
					padding: 5px;
				}

				tr > .heading {
					font-weight: bold;
				}
			}
		}

		&-right {
			display: flex;
			flex-direction: column;
			align-items: flex-end;
			gap: 8px;

			.team-logo {
				width: 30px;
				padding: 4px;
				border: 1px solid variables.$gray-dark;

				@include variables.for-medium-screen {
					width: 40px;
				}
				@include variables.for-large-screen {
					width: 50px;
				}
			}

			.team-name {
				font-size: 20px;
				display: flex;
				flex-direction: column;
				align-items: center;
				text-align: right;
				gap: 8px;
				font-weight: bold;
				color: variables.$dark-light-color;

				@include variables.for-medium-screen {
					flex-direction: row;
					align-items: center;
					font-size: 20px;
				}
				@include variables.for-large-screen {
					font-size: 24px;
				}

				img {
					width: 16px;

					@include variables.for-medium-screen {
						font-size: 20px;
					}
					@include variables.for-large-screen {
						font-size: 24px;
					}
				}
			}

			.team-score {
				font-size: 32px;
				font-weight: 600;
				color: variables.$dark-color;
			}
		}
	}

	&-table {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 50%;
		align-self: center;
		font-size: 12px;
		color: variables.$gray-dark;

		th,
		td {
			padding: 5px;
		}

		tr > .heading {
			font-weight: bold;
		}

		@include variables.for-large-screen {
			display: none;
		}
	}
}
